.highlight {
  background-color: yellow;
}

.invalid {
  background-color: red;
}

.valid {
  background-color: green;
}

.cameraImage {
  height: 75px;
  width: 90px;
}

.onSale {
  color: orange;
}

.newPostForm {
  width: 90%;
  margin: auto;
}
