.highlight {
  background-color: yellow;
}

.invalid {
  background-color: red;
}

.valid {
  background-color: green;
}

.cameraImage {
  height: 75px;
  width: 90px;
}

.onSale {
  color: orange;
}

.newPostForm {
  width: 90%;
  margin: auto;
}

.postsDiv {
  background-color: #e1e1e1;
  height: 20%;
  width: 90%;
  margin: auto;
}

.postTitle {
  font-weight: bold;
  margin-left: 200px;
  margin-top: 20px;
  font-size: 18px;
}

.postAuthor {
  margin-left: 85%;
}

.postImg {
  margin-top: -50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.postPositive {
  color: green;
}

.postNegative {
  color: red;
}
