<!DOCTYPE html>
<html ng-app="CustomFilters">
  <head>
    <meta charset="utf-8">
    <title>unit 2</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>

  <body>
    <p>
      {{"HELLO_WORLD!" | kebab}}
    </p>
    <!-- <div ng-controller="PigLatin"> -->
      <input type="text" ng-model="stringInput" placeholder="Type something">
      <!-- <button type="submit" ng-click="pLString(filterInput)">PIG LATIN-IMIZE</button> -->
    <!-- </div> -->

    <p>
      {{"String" | pigLatin}}
    </p>

    <h1>{{"ClearlyFinest" | pigLatin}}</h1>

    <h2>{{"RICHie-RICHTER IS A QT" | redact: "QT"}}</h2>

    <!-- <p>
      {{"Hello-World_hello_world" | camel}}
    </p> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>
