<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>How much did your mean cost?</p>
    <input type="text" ng-model="cost">
    <p>How much do you want to tip?</p>
    <select ng-model="percentage">
      <option value=".10">10%</option>
      <option value=".15">15%</option>
      <option value=".20">20%</option>
    </select>
    <h2>Subtotal: {{cost}}</h2>
    <h2>Tip: {{cost * percentage}}</h2>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  </body>
</html>
