<!DOCTYPE html>
<html ng-app="TeaStore">
  <head>
    <meta charset="utf-8">
    <title>Mean Tea!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>
    <p class="awesome-tea">Gaurenteed Awesome!</p>
    <h1 class="main-header">Welcome to MEAN Tea</h1>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MEAN Tea</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div ng-controller="SearchController" class="product-filters">
        <span>
          Search by category:
          <select ng-model="categorySelectSearch">
            <option value="dark">
              dark
            </option>
            <option value="awesome">
              awesome
            </option>
            <option value="cold">
              cold
            </option>
          </select>
          Search by name:
          <input type="text" ng-model="nameInputSearch">
        </span>
        <br>
        <br>
    </div>

    <div ng-controller="ProductController" class="products-list">
      <table>
        <div class="table-headers">
          <tr>
            <th class="left-coll">
              Tea:
            </th>
            <th class="right-coll">
              Information:
            </th>
            <th>
              <select>
                <option value="cheapest">
                  Cheapest
                </option>
                <option value="expensive">
                  Most Expensive
                </option>
              </select>
            </th>
          </tr>
        </div>
        <tr ng-repeat="product in productList">
          <td>
            <img ng-src="{{product.imageUrl}}">
          </td>
          <td>
            <p class="product-title">
              {{product.name}}
            </p>
            <p>
              Price: {{product.price | currency: "USD $": 2}}
            </p>
            <p>
              Ingredients: {{product.ingredients}}
            </p>
            <p>
              Rating: {{product.rating}
            </p>
            <p ng-show="{{product.inStock}}">
              Yes
            </p>
            <p ng-show="{{!product.inStock}}">
              No
            </p>
          </td>
        </tr>
      </table>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
  </body>
</html>
